<ng-container *ngIf="products.length !=0">
    <div class="card-table" >
        <div class="cart-product ">
    <table>
        <thead>
          <tr>
            <th>SR. NO</th>
            <th>PRODUCT NAME</th>
            <th>PRODUCT IMAGE</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products; let i= index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td> <img style="width: 120px;" src="{{item.image}}" alt=""></td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}}</td>
            <td><button (click)="removeItem(item)" class="btn-danger"><i class="fa-sharp fa-solid fa-trash"></i></button></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
<div class="container">
<div class="card">
    
    <img src="/assets/cartimage.jpg">
    <h4>Your Cart is Empty !!!!</h4>
    <br>
    <button routerLink="/product" class="bttn" type="" > Shop Now </button>
</div>
</div>
</ng-container>