<div class="row">
    <div class="coloumn">
        <div class="card">
            <nav class="nab">
                <h3> Delivery Address </h3> 
                <div class="obtn">
                    <Button><i class="fa-solid fa-bars"></i></Button>
                </div>
            </nav>
        </div>
    </div>
</div>
     <div class="row2">
    <div class="coloumn2" style="background-color:rgb(255, 14, 14)" >
        <h3> ORDER SUMMARY </h3>
        <div class="card2">
            
            <div class="item">
                
            </div>
        </div>
    </div>
</div>
<div class="row3">
    <div class="coloumn3"  >
        
        <div class="card3">
            <h3> PRICE DETAILS</h3>  ..................
            
        </div>
    </div>
</div>

